@tailwind base;
@tailwind components;
@tailwind utilities;

.partial-border {
    position: relative;
  }
  
  .partial-border::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50px;
    transform: translateX(-50%);
    height: 4px; /* Border thickness */
    width: 100px; /* Border length */
    background-color: #EF4444; /* Border color */
  }
  
  .full-border {
    position: relative;
  }
  
  .full-border::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 58%;
    transform: translateX(-50%);
    height: 4px; /* Border thickness */
    width: 410px; /* Border length */
    background-color: #000; 
  }
  
  @media (max-width: 768px) {
    .full-border::before {
      width: 300px; /* Reduced border length for small screens */
    }
  }
  
  @media (max-width: 480px) {
    .full-border::before {
      width: 200px; /* Further reduced border length for very small screens */
    }
  }
  
  